@{
    ViewBag.Title = "Home Page";
}

<main>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">What we specialise in</h2>
            <p>
                MediSight imaging provides medical imaging services for patients, 
                specializing in x-ray imaging. We provide advanced x-ray imaging services such as digital radiography,
                fluoroscopy and bone density imaging. All of our imaging services are conducted with minimal radiation exposure 
                ensuring patient safety and care.
            </p>
        </section>
    </div>
</main>